if SHIELD_BLUETYL_LEFT

config ZMK_KEYBOARD_NAME
  default "Bluetyl"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

endif

if SHIELD_BLUETYL_LEFT || SHIELD_BLUETYL_RIGHT

config ZMK_SPLIT
  default y

endif
